<div class="body" *ngIf="AdminlocalStorage">
<div class="container">
  <div class="limiter"> 
      <div class="logo">
          <div class="row ">
              <div class="col-sm-2">
                  <img src="/assets/img/Tunisie-Telecom.png">
              </div>
              <div class="col-sm-8 text-center ">
                  <span class="text">Tunisie Telecom</span><br>
                  <span class="text pd">Mobile Tikiting</span>
              </div>
          </div>
         
      </div>
      <div class="container-login100 col-1">
          
          <div class="wrap-login100 p-l-80 p-r-90 p-t-50 p-b-150">
              <h1>Welcome Admin {{name}}</h1><br><br>
              <div class="col-sm-12  justify-content-center p-t-30 " id="bt">
                <a type="button" href="/auth/logout" class="btn btn-success"  >Logout</a>
            </div>
          </div>
        </div>
      </div>
     

    </div>